#footer {
    background-color: #006699;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 50px 10px 25px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.title {
    font-size: 15px;
    font-weight: 900;
    text-shadow: 0px 0px 3px cornflowerblue;
}

.footer-item {
    float: center;
}

.no-decor {
    text-decoration: none;
    color: inherit;
}