<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            Food
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-card *ngFor="let img of foods" class="img-card">
        <mat-card-header>
          <!-- <div mat-card-avatar></div> -->
          <mat-card-title>{{img.title}}</mat-card-title>
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <img mat-card-image src="assets/images/{{img.path}}" alt="{{img.description}}">
        <mat-card-content>
          <p>
              {{img.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <!-- <button mat-button>LIKE</button>
          <button mat-button>SHARE</button> -->
        </mat-card-actions>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>