<h1>Hi! I'm Cindy Wu.</h1>
<p>-Insert image of me-</p>
<p>I've been a professional software developer for about {{yearsOfWork}} years.</p>
<p>In my free time I sometimes play video games and sometimes do various crafts.</p>
<p>I might also like taking pictures of things outside.</p>
<!--Make it easier to update what images are showing-->
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Crafts</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-grid-list cols="3" rowHeight="3:5">
            <mat-grid-tile *ngFor='let image of images.slice(0,3)'>
                <mat-card>
                    <a href='{{imagesPath}}/{{image.path}}'><img mat-card-image src='{{imagesPath}}/{{image.path}}'></a>
                    <mat-card-content>
                        <p>
                            {{image.description}}
                        </p>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Insects</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-grid-list cols="4" rowHeight="3:5">
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile *ngFor='let image of images.slice(3,5)'>
                <mat-card>
                    <a href='{{imagesPath}}/{{image.path}}'><img mat-card-image src='{{imagesPath}}/{{image.path}}'></a>
                    <mat-card-content>
                        <p>
                            {{image.description}}
                        </p>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="4" rowHeight="1:1">
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile *ngFor='let image of images.slice(5,7)'>
                <mat-card>
                    <a href='{{imagesPath}}/{{image.path}}'><img mat-card-image src='{{imagesPath}}/{{image.path}}'></a>
                    <mat-card-content>
                        <p>
                            {{image.description}}
                        </p>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
        </mat-grid-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Green</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-grid-list cols="4" rowHeight="3:5">
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile *ngFor='let image of images.slice(7,9)'>
                <mat-card>
                    <a href='{{imagesPath}}/{{image.path}}'><img mat-card-image src='{{imagesPath}}/{{image.path}}'></a>
                    <mat-card-content>
                        <p>
                            {{image.description}}
                        </p>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
        </mat-grid-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Other Animal</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-grid-list cols="4" rowHeight="3:5">
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile *ngFor='let image of images.slice(9,11)'>
                <mat-card>
                    <a href='{{imagesPath}}/{{image.path}}'><img mat-card-image src='{{imagesPath}}/{{image.path}}'></a>
                    <mat-card-content>
                        <p>
                            {{image.description}}
                        </p>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
        </mat-grid-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Other</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-grid-list cols="4" rowHeight="1:1">
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile *ngFor='let image of images.slice(11,13)'>
                <mat-card>
                    <a href='{{imagesPath}}/{{image.path}}'><img mat-card-image src='{{imagesPath}}/{{image.path}}'></a>
                    <mat-card-content>
                        <p>
                            {{image.description}}
                        </p>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
        </mat-grid-list>
    </mat-expansion-panel>

</mat-accordion>